<div class="container mt-4">

  <div class="header-card d-flex justify-content-between align-items-center">

    <div>
      <h1 class="fw-bold mb-1">
        Miguel Rafael Cuevas Vasquez
      </h1>

      <h5 class="mb-2">
        Computer Science Student
      </h5>

      <p class="mb-0">
        Passionate about mathematics, programming and problem solving.
      </p>
    </div>

    <div>
      <img 
        src="mi_foto.png"
        alt="Foto Miguel"
        class="profile-img">
    </div>

  </div>

</div>