<div class="row bg-footer p-4 rounded mb-4">

    <div id="informacion" class="col text-center">

        <a class="btn bg-botones me-3" href="mailto:miguecuvas@ufm.edu">
            Contactame
        </a>

        <a class="btn bg-botones me-3"
           href="https://github.com/MiguelCuevasss"
           target="_blank">
            GitHub
        </a>

        <a class="btn bg-botones me-3"
           href="https://linkedin.com"
           target="_blank">
            LinkedIn
        </a>

        <a class="btn bg-botones"
           href="https://export-download.canva.com/..."
           target="_blank">
            Descargar PDF
        </a>

    </div>

</div>


<div class="col text-center">

    <h2>Action Buttons</h2>


    <button
        class="btn bg-botones mb-3"
        (click)="toggleEducation()">

        Mostrar / Ocultar Education

    </button>


    <button
        class="btn bg-botones mb-3"
        (click)="toggleInformacion()">

        Mostrar / Ocultar Informacion

    </button>


    <button
        class="btn bg-botones mb-3"
        (click)="toggleModoOscuro()">

        Modo Claro / Oscuro

    </button>

</div>